# API Configuration
VITE_API_URL=http://localhost:3000/api/v1

# (Socket.io)
# Generalmente es la misma base del servidor pero sin el /api/v1
VITE_SOCKET_URL=http://localhost:3000

# App Settings
VITE_APP_NAME="Taskify"
VITE_ENV=development

# Debugging
# Para decidir si mostrar los DevTools de TanStack Query en producción
VITE_SHOW_QUERY_DEVTOOLS=true