# Dependencias
node_modules/
.pnp
.pnp.js

# Build y Salida
build/
dist/
.react-router/
.cache/

# Pruebas y Cobertura
test-results/
playwright/
playwright-report/
blob-report/
coverage/
junit.xml

# Variables de Entorno (Seguridad)
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
eslint.log

# Editor y Sistema
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?